.container {
    width: 100%;
    height: 100%;
    /* position: relative; */
}
.left {
    width: 185px;
    height: 900px;
    border: 1px solid grey;
    margin-top: 20px;
    margin-left: -55px;
    float: left;
    background-color: white;
    
}
.left a {
    color: #666;
    text-decoration: none;
}
/* img.err-product {
    background: url(//misc.360buyimg.com/lib/skin/e/i/error-jd.gif) no-repeat;
} */
.ad li {
    width: 176px;
    height: 260px;
}
.p-img {
    overflow: hidden;
    padding-left: 10px;
    margin-top: 20px;
}
.p-price {
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    margin-bottom: 8px;
    padding: 0 10px;
    font: normal;
    font-size: 12px;
    color: #e4393c;
}
.p-price i {
    font-style: normal;
}
.p-name {
    line-height: 18px;
    height: 36px;
    overflow: hidden;
    padding: 0 10px;
    font-size: 13px;
}
.p-comm {
    font-size: 12px;
}
.skcolor_ljg {
    color: #e4393c;
}
.right {
    position: absolute;
    width: 1040px;
    height: 900px;
    /* border: 1px solid salmon; */
    float: right;
    /* margin-right: 64px; */
    margin-left: 160px;
    margin-top: 20px;
    overflow: hidden;
}
.right-title {
    width: 100%;
    height: 40px;
    padding-top: 7px;
    background-color: rgb(236, 230, 230);
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}
.right-body {
    width: 1040px;
    height: 100%;
    position: absolute;
    float: left;
}
.right-title ul {
    width: 100%;
    height: 100%;
}
.right-title ul li {
    width: 80px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    color: grey;
    border: 1px solid grey;
    background-color: white;
    float: left;
}
.right-title ul li:hover {
    border-color: #dd4545;
    color: #dd4545;
}
.right-title ul li:active {
    background: #dd4545;
}
.normalPic {
    margin-left: 10px;
    margin-top: 10px;
    font-size: 16px!important;
}
.normalPic a:hover {
    border: 1px solid rgb(207, 202, 202);
}
.normalPic img {
    /* position: fixed; */
}
.panel-footer {
    height: 28px!important;
    float: right;
    background-color: rgb(236, 234, 234)!important;
    margin-top: -908px;
    margin-right: -14px;
}
#pop-compare.pop-compare-narrow {
    width: 970px;
    margin-right: -475px;
}
#pop-compare {
    display: none;
    position: fixed;
    bottom: -200px;
    right: 50%;
    margin-right: -495px;
    z-index: 100;
    width: 990px;
    height: 139px;
    background: #fff;
    box-shadow: 0 0 15px rgba(221,221,221,.8);
}
#pop-compare.pop-compare-narrow .pop-wrap {
    width: 970px;
}
#pop-compare .pop-wrap {
    position: absolute;
    left: 0;
    top: 0;
    width: 990px;
}
.pop-compare-tips {
    display: none;
    height: 27px;
    margin-top: -29px;
    line-height: 27px;
    border: 1px solid #db9a9a;
    color: #c00;
    text-align: center;
    background: #ffe8e8;
    _margin-top: 0;
}
#pop-compare .pop-inner {
    height: 133px;
}
#pop-compare .diff-hd {
    position: relative;
}
#pop-compare .diff-hd .tab-btns {
    height: 32px;
    border: 1px solid #ddd;
    border-bottom: 2px solid #7abd54;
    _overflow: hidden;
}
.clearfix {
}
ol, ul {
    list-style: none;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}